.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.flex-container {
    /* Per creare un container flex basta dargli display: flex; */
    display: flex;
    background-color: #d1d1d1;
    border: 2px dashed #545454;
}

.flex-item {
    height: 100px;
    /* min-width: 100px; */
    flex-basis: 100px;
}

.one {
    background-color: #fa8072;
}

.two {
    background-color: #72b4fa;
}

.three {
    background-color: #72fa96;
}

.four {
    background-color: #effa72;
}

.flex-container.order .two {
    /* valore di default = 0 */
    order: 1;
}

.flex-container.grow .flex-item {
    flex-grow: 1;
}

.flex-container.grow .two {
    flex-grow: 2;
}

.flex-container.align-self {
    min-height: 350px;
    align-items: flex-start;
    gap: .5rem;
}

.flex-container.align-self .three {
    align-self: flex-end;
}