*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img,
svg,
video {
    max-width: 100%;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

code {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, monospace;
}