@use "../abstracts" as *;

.topbar {
    position: sticky;
    top: 0;
    z-index: 10;
    background: rgba($bg, 0.75);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(#fff, 0.08);

    .container {
        padding: 1rem 0;
        display: grid;
        gap: 1rem;

        @include mq-up(md) {
            grid-template-columns: 1fr auto;
            align-items: center;
        }
    }
}